<#body>
<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center" border="false">
        <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            <#nav/>
        </div>
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left" border="false">
            <form id="queryForm" class="easyui-form" method="post" fit="true">
                <div class="search-wrap">
                    <div class="search-item">
                        <input name="marketCode" id="marketCode" style="width:100%" labelAlign="right" editable="false"
                               labelAlign="right" panelWidth="auto" panelHeight="auto" label="所属市场:" />
                        <#comboProvider _id="marketCode" _provider='firmProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
                    </div>
                    <div class="search-item">
                        <input name="systemCode" id="systemCode" style="width:100%" labelAlign="right" editable="false"
                               labelAlign="right" panelWidth="auto" panelHeight="auto" label="所属系统:" />
                        <#comboProvider _id="systemCode" _provider='firmProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
                    </div>
                    <div class="search-item">
                        <input name="sceneCode" id="sceneCode" style="width:100%" labelAlign="right" editable="false"
                               labelAlign="right" panelWidth="auto" panelHeight="auto" label="应用场景:" />
                        <#comboProvider _id="sceneCode" _provider='dataDictionaryValueProvider' _queryParams='{dd_code:"message_scene",emptyText:"-- 全部 --"}'/>
                    </div>
                    <div class="search-item">
                        <input name="enabled" id="enabled" style="width:100%" labelAlign="right" editable="false"
                               labelAlign="right" panelWidth="auto" panelHeight="auto" label="状态:" />
                        <#comboProvider _id="enabled" _provider='triggersStateProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
                    </div>
                    <div class="search-wrap-btn">
                        <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryTriggerGrid()">查询</a>
                        &nbsp;<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearQueryForm()">清除</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" style="width:100%;" height="auto">
        <!-- =========================================================表格========================================================= -->
        <table class="easyui-datagrid" title="场景/模板列表" id="triggerGrid" fitColumns="true" noheader="true"
               pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="true" sortName="id" sortOrder="desc"
               loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false"
               align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
            <thead>
                <tr>
                    <th width="10%" data-options="field:'marketCode', _provider:'firmProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        所属市场
                    </th>
                    <th width="10%" data-options="field:'systemCode',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        所属系统
                    </th>
                    <th width="10%" data-options="field:'sceneCode',  _provider:'dataDictionaryValueProvider',_queryParams:{'dd_code':'message_scene'},   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        应用场景
                    </th>
                    <th width="10%" data-options="field:'sceneCodeValue', _provider:'sceneCodeProvider',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        场景编码
                    </th>
                    <th width="10%" data-options="field:'enabled', _provider:'triggersStateProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        状态
                    </th>
                    <th width="20%" data-options="field:'groupChannel', _provider:'groupChannelProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        模板来源
                    </th>
                    <th width="20%" data-options="field:'groupTemplateCode',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        模板编码
                    </th>
                    <th width="15%" data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        创建时间
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<#triggers_indexJs />
</#body>