<#body>
<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center" border="false">
        <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            <#nav/>
        </div>
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left" border="false">
            <form id="queryForm" class="easyui-form" method="post" fit="true">
                <div class="search-wrap">
                    <div class="search-item">
                        <input name="marketCode" id="marketCode" style="width:100%" labelAlign="right" editable="false"
                               labelAlign="right" panelWidth="auto" panelHeight="auto" label="所属市场:" />
                        <#comboProvider _id="marketCode" _provider='firmProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
                    </div>
                    <div class="search-item">
                        <input name="systemCode" id="systemCode" style="width:100%" labelAlign="right" editable="false"
                               labelAlign="right" panelWidth="auto" panelHeight="auto" label="所属系统:" />
                        <#comboProvider _id="systemCode" _provider='firmProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
                    </div>
                    <div class="search-item">
                        <input name="sceneCode" id="sceneCode" style="width:100%" labelAlign="right" editable="false"
                               labelAlign="right" panelWidth="auto" panelHeight="auto" label="应用场景:" />
                        <#comboProvider _id="sceneCode" _provider='dataDictionaryValueProvider' _queryParams='{dd_code:"message_scene",emptyText:"-- 全部 --"}'/>
                    </div>
                    <div class="search-item">
                        <input name="enabled" id="enabled" style="width:100%" labelAlign="right" editable="false"
                               labelAlign="right" panelWidth="auto" panelHeight="auto" label="状态:" />
                        <#comboProvider _id="enabled" _provider='triggersStateProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
                    </div>
                    <div class="search-wrap-btn">
                        <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryTriggerGrid()">查询</a>
                        &nbsp;<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearQueryForm()">清除</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" style="width:100%;" height="auto">
        <!-- =========================================================表格========================================================= -->
        <table class="easyui-datagrid" title="场景/模板列表" id="triggerGrid" fitColumns="true" noheader="true"
               pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="true" sortName="id" sortOrder="desc"
               loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false"
               align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
            <thead>
            <tr>
                <th width="8%" data-options="field:'marketCode', _provider:'firmProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    所属市场
                </th>
                <th width="8%" data-options="field:'systemCode',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    所属系统
                </th>
                <th width="8%" data-options="field:'sceneCode', _provider:'dataDictionaryValueProvider',_queryParams:{'dd_code':'message_scene'},   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    应用场景
                </th>
                <th width="8%" data-options="field:'sceneCode',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    场景编码
                </th>
                <th data-options="field:'enabled',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    状态
                </th>
                <th data-options="field:'enabled',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    模板来源
                </th>
                <th data-options="field:'enabled',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    模板编码
                </th>
                <th data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    创建时间
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!-- 隐藏编辑框 -->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="Triggers信息" style="padding:20px" modal="true" border="thin" closed="true"
     data-options="
				iconCls: 'icon-save',
				height: 480,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="360px">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_triggerCode" id="_triggerCode" style="width:100%" data-options="label:'触发点编码:', validType:'length[0,50]'"
                           required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_marketCode" id="_marketCode" style="width:100%" data-options="label:'市场编码:', validType:'length[0,20]'"
                           required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_systemCode" id="_systemCode" style="width:100%" data-options="label:'所属系统:', validType:'length[0,20]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_sceneCode" id="_sceneCode" style="width:100%" data-options="label:'应用场景:', validType:'length[0,20]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_whitelist" id="_whitelist" style="width:100%" data-options="label:'是否启用白名单:', validType:'length[0,3]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_enabled" id="_enabled" style="width:100%" data-options="label:'是否启用:', validType:'length[0,3]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_created" id="_created" style="width:100%" editable="false" data-options="label:'创建时间:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_modified" id="_modified" style="width:100%" editable="false" data-options="label:'修改时间:'" />
                </td>
            </tr>
        </table>
    </form>

</div>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<#triggers_indexJs />
</#body>