<#bs4Body>
<#vueElm />
<div id=app>
    <el-form
            ref="dataFormLXR"
            size="medium"
            :model="triggers"
            :inline="true"
    >
        <el-row>
            <el-col :span="6">
                <el-form-item
                        label="通道市场"
                        prop="marketCode">
                    {{ triggers.marketCode }}
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item
                        label="所属系统"
                        prop="systemCode">
                    {{ triggers.systemCode }}
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item
                        label="应用场景"
                        prop="sceneCode">
                    {{ triggers.sceneCode }}
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item
                        label="应用黑名单"
                        prop="blacklist">
                    {{ triggers.blacklist }}
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item
                        label="应用白名单"
                        prop="whitelist">
                    {{ triggers.whitelist }}
                </el-form-item>
            </el-col>
        </el-row>
        <div style="text-align: center">
            <el-divider><i class="el-icon-info"></i></el-divider>
            <span style="color:#ff465f">短信场景通道模板</span>
        </div>
        <el-table :data="triggers.templateList" show-header="false" style="width: 100%" max-height="300">
            <el-table-column label="渠道">
                <template slot-scope="scope">
                    <el-form-item label=""
                            :prop="'templateList.' + scope.$index + '.channel'">
                        {{ scope.row.channel }}
                    </el-form-item>
                </template>
            </el-table-column>
            <el-table-column label="AccessKey">
                <template slot-scope="scope">
                    <el-form-item label=""
                            :prop="'templateList.' + scope.$index + '.accessKeyValue'">
                        {{ scope.row.accessKeyValue }}
                    </el-form-item>
                </template>
            </el-table-column>
            <el-table-column label="模板名称">
                <template slot-scope="scope">
                    <el-form-item label=""
                            :prop="'templateList.' + scope.$index + '.templateName'">
                        {{ scope.row.templateName }}
                    </el-form-item>
                </template>
            </el-table-column>
            <el-table-column label="模板编码">
                <template slot-scope="scope">
                    <el-form-item label=""
                            :prop="'templateList.' + scope.$index + '.templateCode'">
                        {{ scope.row.templateCode }}
                    </el-form-item>
                </template>
            </el-table-column>
            <el-table-column label="模板内容">
                <template slot-scope="scope">
                    <el-form-item label=""
                            :prop="'templateList.' + scope.$index + '.templateContent'">
                        {{ scope.row.templateContent }}
                    </el-form-item>
                </template>
            </el-table-column>
        </el-table>
    </el-form>
    <el-row style="margin-top: 20px;">
        <el-button size="medium" @click="cancel">关闭</el-button>
    </el-row>
</div>

</#bs4Body>

<script type="text/javascript">
    window.rootPath = '${contextPath}';
</script>

<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                index: 0,
                triggers: {
                    templateList: [],
                },
            };
        },
        methods: {
            cancel() {
                $.modal.close();
            }
        }
    })
    app.triggers = ${triggers!};
    app.triggers.marketCode = loadProviderDisplayText({
        provider: 'marketProvider',
        value:app.triggers.marketCode,
        by:"code"
    });
    app.triggers.systemCode = loadProviderDisplayText({
        provider: 'dataDictionaryValueProvider',
        value:app.triggers.systemCode,
        queryParams: {dd_code:"system_code",dd_with_market:false}
    });
    app.triggers.sceneCode = loadProviderDisplayText({
        provider: 'dataDictionaryValueProvider',
        value:app.triggers.sceneCode,
        queryParams: {dd_code: "message_scene", dd_with_market: false}
    });
    app.triggers.whitelist = loadProviderDisplayText({
        provider: 'yesOrNoProvider',
        value:app.triggers.whitelist,
    });
    app.triggers.blacklist = loadProviderDisplayText({
        provider: 'yesOrNoProvider',
        value:app.triggers.blacklist,
    });
</script>
