<#body>
<style>

</style>
<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center">
        <!-- =========================================================表单========================================================= -->

    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" style="width:50%;" height="auto">
        <!-- =========================================================表格========================================================= -->
        <table class="easyui-datagrid" title="市场/通道列表" id="marketChannelGrid" fitColumns="true" noheader="true"
               pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="false"
               loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="marketCode"
               align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
            <thead>
            <tr>
                <th width="25%"  data-options="field:'marketCode', _provider:'firmProvider',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    所属市场
                </th>
                <th width="25%" data-options="field:'groupChannel', _provider:'marketChannelProvider',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    消息通道
                </th>
                <th width="25%" data-options="field:'groupSignature',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    签名
                </th>
                <th width="25%" data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    创建时间
                </th>
            </tr>
            </thead>
        </table>
    </div>

    <div region="east" split="true" style="width:50%;" height="auto">
        <!-- =========================================================表格========================================================= -->
        <table class="easyui-datagrid" title="市场/通道列表" id="marketChannelDetailGrid" fitColumns="true" noheader="true"
               pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="false"
               loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="marketCode"
               align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:openUpdate">
            <thead>
            <tr>
                <th width="20%" data-options="field:'marketCode', _provider:'firmProvider',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    市场
                </th>
                <th width="20%" data-options="field:'groupChannel', _provider:'marketChannelProvider',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    通道
                </th>
                <th width="20%" data-options="field:'groupSignature',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    签名
                </th>
                <th width="20%" data-options="field:'groupSignature',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    账号
                </th>
                <th width="20%" data-options="field:'groupSignature',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    密码
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!-- 隐藏编辑框 -->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="MarketChannel信息" style="padding:20px" modal="true" border="thin" closed="true"
     data-options="
				iconCls: 'icon-save',
				height: 480,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table class="channel-table"  width="360px" style="position: relative;padding-right: 80px;">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_marketCode" id="_marketCode" style="width:100%" data-options="label:'市场编码:', validType:'length[0,20]'"
                           required="true" />
                </td>
            </tr>
            <tbody class="channel-wrap-tmpl" hidden>
                <tr class="flag-edit-btn">
                    <td style="padding:5px;">
                        <input class="easyui-textbox" name="_channel" id="_channel" style="width:100%" data-options="label:'通道编码:', validType:'length[0,20]'" />
                        <a href="javascript:;" class="l-btn l-btn-small l-btn-plain btn-add-channel" style="position: absolute;right: 40px;margin-top: -26px"><span class="l-btn-left l-btn-icon-left" ><span class="l-btn-text"></span><span class="l-btn-icon icon-add">&nbsp;</span></span></a>
                        <a href="javascript:;" class="l-btn l-btn-small l-btn-plain btn-delete-channel" style="position: absolute;right: 10px;margin-top: -26px"><span class="l-btn-left l-btn-icon-left" ><span class="l-btn-text"></span><span class="l-btn-icon icon-remove">&nbsp;</span></span></a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px;">
                        <input class="easyui-textbox" name="_signature" id="_signature" style="width:100%" data-options="label:'通道签名:', validType:'length[0,50]'" />
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px;">
                        <input class="easyui-textbox" name="_accountNo" id="_accountNo" style="width:100%" data-options="label:'通道账号:', validType:'length[0,50]'" />
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px;">
                        <input class="easyui-textbox" name="_password" id="_password" style="width:100%" data-options="label:'通道密码:', validType:'length[0,255]'" />
                    </td>
                </tr>
            </tbody>
        <tbody class="channel-wrap">
            <tr class="flag-edit-btn" flag-count="0">
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_channel" id="_channel" style="width:100%" data-options="label:'通道编码:', validType:'length[0,20]'" />
                    <a href="javascript:;" class="l-btn l-btn-small l-btn-plain btn-add-channel" style="position: absolute;right: 40px;margin-top: -26px"><span class="l-btn-left l-btn-icon-left" ><span class="l-btn-text"></span><span class="l-btn-icon icon-add">&nbsp;</span></span></a>
                    <!--<a href="javascript:;" class="l-btn l-btn-small l-btn-plain btn-delete-channel" style="position: absolute;right: 10px;margin-top: -26px"><span class="l-btn-left l-btn-icon-left" ><span class="l-btn-text"></span><span class="l-btn-icon icon-remove">&nbsp;</span></span></a>-->
                </td>
            </tr>
            <tr flag-count="0">
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_signature" id="_signature" style="width:100%" data-options="label:'通道签名:', validType:'length[0,50]'" />
                </td>
            </tr>
            <tr flag-count="0">
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_accountNo" id="_accountNo" style="width:100%" data-options="label:'通道账号:', validType:'length[0,50]'" />
                </td>
            </tr>
            <tr flag-count="0">
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_password" id="_password" style="width:100%" data-options="label:'通道密码:', validType:'length[0,255]'" />
                </td>
            </tr>
        </tbody>


        </table>
    </form>

</div>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<#marketChannel_indexJs />
</#body>