<#body>

<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center">
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left">
            <form id="form" class="easyui-form" method="post" fit="true">
                <table style="padding:10px;">
                    <tr>
                        <td style="padding:5px;">
                            <input class="easyui-textbox" name="marketCode" id="marketCode" style="width:100%" labelAlign="right" data-options="label:'市场编码:', validType:'length[0,20]'" />

                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-textbox" name="channel" id="channel" style="width:100%" labelAlign="right" data-options="label:'通道编码:', validType:'length[0,20]'" />

                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-textbox" name="signature" id="signature" style="width:100%" labelAlign="right" data-options="label:'通道签名:', validType:'length[0,50]'" />

                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-textbox" name="accountNo" id="accountNo" style="width:100%" labelAlign="right" data-options="label:'通道账号:', validType:'length[0,50]'" />

                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-textbox" name="password" id="password" style="width:100%" labelAlign="right" data-options="label:'通道密码:', validType:'length[0,255]'" />

                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px;">
                            <input class="easyui-datetimebox" name="created" id="created" style="width:100%" labelAlign="right" data-options="label:'创建时间:'" />

                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-datetimebox" name="modified" id="modified" style="width:100%" labelAlign="right" data-options="label:'修改时间:'" />

                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" style="width:100%;" height="auto">
        <!-- =========================================================表格========================================================= -->
        <table class="easyui-datagrid" title="MarketChannel列表" id="grid" fitColumns="true" noheader="true"
               pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="false"
               loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="marketCode"
               align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
            <thead>
            <tr>
                <th data-options="field:'marketCode',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    市场编码
                </th>
                <th data-options="field:'channel',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    通道编码
                </th>
                <th data-options="field:'signature',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    通道签名
                </th>
                <th data-options="field:'accountNo',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    通道账号
                </th>
                <th data-options="field:'password',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    通道密码
                </th>
                <th data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    创建时间
                </th>
                <th data-options="field:'modified',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    修改时间
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!-- 隐藏编辑框 -->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="MarketChannel信息" style="padding:20px" modal="true" border="thin" closed="true"
     data-options="
				iconCls: 'icon-save',
				height: 480,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table class="channel-table"  width="360px" style="position: relative;padding-right: 80px;">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_marketCode" id="_marketCode" style="width:100%" data-options="label:'市场编码:', validType:'length[0,20]'"
                           required="true" />
                </td>
            </tr>
            <tbody class="channel-wrap-tmpl" hidden>
                <tr>
                    <td style="padding:5px;">
                        <input class="easyui-textbox" name="_channel" id="_channel" style="width:100%" data-options="label:'通道编码:', validType:'length[0,20]'" />
                        <a href="javascript:;" class="l-btn l-btn-small l-btn-plain btn-add-channel" style="position: absolute;right: 40px;margin-top: -26px"><span class="l-btn-left l-btn-icon-left" ><span class="l-btn-text"></span><span class="l-btn-icon icon-add">&nbsp;</span></span></a>
                        <a href="javascript:;" class="l-btn l-btn-small l-btn-plain btn-delete-channel" style="position: absolute;right: 10px;margin-top: -26px"><span class="l-btn-left l-btn-icon-left" ><span class="l-btn-text"></span><span class="l-btn-icon icon-remove">&nbsp;</span></span></a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px;">
                        <input class="easyui-textbox" name="_signature" id="_signature" style="width:100%" data-options="label:'通道签名:', validType:'length[0,50]'" />
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px;">
                        <input class="easyui-textbox" name="_accountNo" id="_accountNo" style="width:100%" data-options="label:'通道账号:', validType:'length[0,50]'" />
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px;">
                        <input class="easyui-textbox" name="_password" id="_password" style="width:100%" data-options="label:'通道密码:', validType:'length[0,255]'" />
                    </td>
                </tr>
            </tbody>
        <tbody class="channel-wrap">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_channel" id="_channel" style="width:100%" data-options="label:'通道编码:', validType:'length[0,20]'" />
                    <a href="javascript:;" class="l-btn l-btn-small l-btn-plain btn-add-channel" style="position: absolute;right: 40px;margin-top: -26px"><span class="l-btn-left l-btn-icon-left" ><span class="l-btn-text"></span><span class="l-btn-icon icon-add">&nbsp;</span></span></a>
                    <a href="javascript:;" class="l-btn l-btn-small l-btn-plain btn-delete-channel" style="position: absolute;right: 10px;margin-top: -26px"><span class="l-btn-left l-btn-icon-left" ><span class="l-btn-text"></span><span class="l-btn-icon icon-remove">&nbsp;</span></span></a>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_signature" id="_signature" style="width:100%" data-options="label:'通道签名:', validType:'length[0,50]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_accountNo" id="_accountNo" style="width:100%" data-options="label:'通道账号:', validType:'length[0,50]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_password" id="_password" style="width:100%" data-options="label:'通道密码:', validType:'length[0,255]'" />
                </td>
            </tr>
        </tbody>


        </table>
    </form>

</div>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script type="text/javascript">
    //打开新增窗口
    function openInsert(){
        $('#dlg').dialog('open');
        $('#dlg').dialog('center');
        $('#_form').form('clear');
        formFocus("_form", "_marketCode");
    }

    //打开修改窗口
    function openUpdate(){
        var selected = $("#grid").datagrid("getSelected");
        if (null == selected) {
            swal('警告','请选中一条数据', 'warning');
            return;
        }
        $('#dlg').dialog('open');
        $('#dlg').dialog('center');
        formFocus("_form", "_marketCode");
        var formData = $.extend({},selected);
        formData = addKeyStartWith(getOriginalData(formData),"_");
        $('#_form').form('load', formData);
    }

    function saveOrUpdate(){
        if(!$('#_form').form("validate")){
            return;
        }
        var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
        var _url = null;
        //没有id就新增
        if(_formData.id == null || _formData.id==""){
            _url = "${contextPath}/marketChannel/insert.action";
        }else{//有id就修改
            _url = "${contextPath}/marketChannel/update.action";
        }
        $.ajax({
            type: "POST",
            url: _url,
            data: _formData,
            processData:true,
            dataType: "json",
            async : true,
            success: function (data) {
                if(data.code=="200"){
                    $("#grid").datagrid("reload");
                    $('#dlg').dialog('close');
                }else{
                    swal('错误',data.result, 'error');
                }
            },
            error: function(){
                swal('错误', '远程访问失败', 'error');
            }
        });
    }

    //根据主键删除
    function del() {
        var selected = $("#grid").datagrid("getSelected");
        if (null == selected) {
            swal('警告','请选中一条数据', 'warning');
            return;
        }
    <#swalConfirm swalTitle="您确认想要删除记录吗？">
            $.ajax({
                type: "POST",
                url: "${contextPath}/marketChannel/delete.action",
                data: {id:selected.id},
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        swal('错误',data.result, 'error');
                    }
                },
                error: function(){
                    swal('错误', '远程访问失败', 'error');
                }
            });
    </#swalConfirm>
    }
    //表格查询
    function queryGrid() {
        var opts = $("#grid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/marketChannel/listPage.action";
        }
        if(!$('#form').form("validate")){
            return;
        }
        $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
    }


    //清空表单
    function clearForm() {
        $('#form').form('clear');
    }

    //表格表头右键菜单
    function headerContextMenu(e, field){
        e.preventDefault();
        if (!cmenu){
            createColumnMenu("grid");
        }
        cmenu.menu('show', {
            left:e.pageX,
            top:e.pageY
        });
    }

    //全局按键事件
    function getKey(e){
        e = e || window.event;
        var keycode = e.which ? e.which : e.keyCode;
        if(keycode == 46){ //如果按下删除键
            var selected = $("#grid").datagrid("getSelected");
            if(selected && selected!= null){
                del();
            }
        }
    }

    /**
     * 绑定页面回车事件，以及初始化页面时的光标定位
     * @formId
     *          表单ID
     * @elementName
     *          光标定位在指点表单元素的name属性的值
     * @submitFun
     *          表单提交需执行的任务
     */
    $(function () {
        bindFormEvent("form", "marketCode", queryGrid);
        bindFormEvent("_form", "_marketCode", saveOrUpdate, function (){$('#dlg').dialog('close');});
        if (document.addEventListener) {
            document.addEventListener("keyup",getKey,false);
        } else if (document.attachEvent) {
            document.attachEvent("onkeyup",getKey);
        } else {
            document.onkeyup = getKey;
        }
        var pager = $('#grid').datagrid('getPager');    // get the pager of treegrid
        pager.pagination({
            <#controls_paginationOpts/>,
            buttons:[
            {
                iconCls:'icon-add',
                text:'新增',
                handler:function(){
                    openInsert();
                }
            },
            {
                iconCls:'icon-edit',
                text:'修改',
                handler:function(){
                    openUpdate();
                }
            },
            {
                iconCls:'icon-remove',
                text:'删除',
                handler:function(){
                    del();
                }
            },
            {
                iconCls:'icon-export',
                text:'导出',
                handler:function(){
                    doExport('grid');
                }
            }
        ]
    });
        //表格仅显示下边框
        $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
        queryGrid();
    })

    $('.channel-table').on('click', '.btn-add-channel', function(){
        $('.channel-wrap').append($('.channel-wrap-tmpl').clone().find('tr').attr('flag-count', (new Date()).getTime()).end().html()).show();
        $(this).hide();
        $('.channel-wrap').find('.btn-add-channel:last-of-type').show();
        $('.channel-wrap').find('.btn-delete-channel').show();
        $('.channel-wrap').find('.btn-delete-channel:first-of-type').hide();
    })
    $('.channel-table').on('click', '.btn-delete-channel', function(){
        let flagCount = $(this).closest('tr').attr('flag-count');
        console.log(flagCount)
        $('.channel-table').find("[flag-count=" + flagCount + "]").remove();
        if ($('.channel-wrap').find('.btn-add-channel').length < 2) {
            $('.channel-wrap').find('.btn-add-channel:first-of-type').show();
        }

    })

</script>
</#body>