<#bs4Body>
<#vueElm />
<div id=app>
    <div class="container-fluid pb-5">
        <ele-form
           :form-attrs="{
                size: 'large'
            }"
            form-btn-size="medium"
            v-bind="formConfig"
            v-model="formData">
        </ele-form>
    </div>
</div>
</#bs4Body>

<script>
    function init(vm){
        vm.formData = ${marketChannel!};
    }
</script>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                formData: {},
                formConfig: {
                    isShowSubmitBtn: false,
                    isShowBackBtn: false,
                    formBtns: [
                        {
                            text: '关闭',
                            type: 'primary',
                            click: () => {
                                $.modal.close();
                            }
                        }
                    ],
                    formDesc: {
                        marketCode: {
                            label: "归属市场",
                            type: "text",
                            displayFormatter (labels) {
                                return loadProviderDisplayText({
                                    provider: 'marketProvider',
                                    value:labels,
                                    by:"code"
                                });
                            }
                        },
                        channel: {
                            label: "通道",
                            type: "text",
                            displayFormatter (labels) {
                                return loadProviderDisplayText({
                                    provider: 'marketChannelProvider',
                                    value:labels
                                });
                            }
                        },
                        signature: {
                            label: "签名",
                            type: "text"
                        },
                        companyName: {
                            vif: function (data) {
                                if (data.channel && data.channel === "china_mobile") {
                                    return true;
                                } else {
                                    data.companyName = null;
                                    return false;
                                }
                            },
                            optionsLinkageFields: ['channel'],
                            label: "企业名称",
                            type: "text"
                        },
                        accessKey: {
                            label: "账号",
                            type: "text"
                        },
                        secret: {
                            label: "密钥",
                            type: "text"
                        }
                    }
                }
            };
        },
        created: function () {
            // `this` 指向 vm 实例
            init(this)
        }
    })

    function loadProvider(data, first, name) {
        return new Promise((resolve, reject) => {
            axios.post('/convert/list.action', data)
                .then((res) => {
                    if (first) {
                        if (!app.formData[name]){
                            app.formData[name] = res.data[0].value;
                        }
                    }
                    resolve(res.data);
                })
                .catch(function (error) {
                    reject(error);
                });
        });
    }

    /**
     * 根据Provider 获取回显值
     * @param data Provider 查询条件
     * @returns {*}
     */
    function loadProviderDisplayText(data) {
        let result = "";
        $.ajax({
            type: "POST",
            url: '/valueProvider/getDisplayText.action',
            data: JSON.stringify(data),
            processData:true,
            contentType: 'application/json',
            dataType: "json",
            async : false,
            success: function (ret) {
                result = ret.data;
            },
            error: function(a,status,e){
                console.error("出错了");
            }
        });
        return result;
    }

</script>
