<?xml version="1.0" encoding="UTF-8"?>
<configuration >
    <!-- 文件输出格式 -->
    <property name="PATTERN" value="[message]%-12(%date) [%thread] %-5level %logger{50}  [%file:%line] %msg%n"/>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="logs"/>

    <!-- 开发环境 -->
    <springProfile name="dev">
        <appender name="appender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>${LOG_HOME}/message.log</file>
            <append>true</append>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>[message-dev]%-12(%date) |-%-5level [%thread] %c [%L] -| %msg%n</pattern>
            </encoder>
        </appender>
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="com.diligrp.message" level="DEBUG"/>
        <jmxConfigurator/>
    </springProfile>

    <!-- 测试环境 -->
    <springProfile name="test">
        <appender name="appender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <!-- 每天产生一个文件 -->
        <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/message.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!--日志文件输出的文件名-->
                <FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/message_%i.log.zip</FileNamePattern>
                <!--日志文件保留天数-->
                <MaxHistory>30</MaxHistory>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>%date [%thread] %-5level %logger{50}  [%file:%line] %msg%n</pattern>
            </encoder>
        </appender>
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="com.diligrp.message" level="INFO"/>
        <jmxConfigurator/>
    </springProfile>

    <!-- 灰度环境 -->
    <springProfile name="pre">
        <appender name="appender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <!-- 按照每天生成日志文件 -->
        <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/message.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!--日志文件输出的文件名-->
                <FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/message_%i.log.zip</FileNamePattern>
                <!--日志文件保留天数-->
                <MaxHistory>30</MaxHistory>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>%date [%thread] %-5level %logger{50}  [%file:%line]  %msg%n</pattern>
            </encoder>

        </appender>
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="com.diligrp.message" level="INFO"/>
        <jmxConfigurator/>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <appender name="appender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <!-- 按照每天生成日志文件 -->
        <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/message.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!--日志文件输出的文件名-->
                <FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/message_%i.log.zip</FileNamePattern>
                <!--日志文件保留天数-->
                <MaxHistory>30</MaxHistory>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>%date [%thread] %-5level %logger{50}  [%file:%line]  %msg%n</pattern>
            </encoder>
        </appender>
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="com.diligrp.message" level="INFO"/>
        <jmxConfigurator/>
    </springProfile>

    <root level="info">
        <appender-ref ref="appender" />
        <appender-ref ref="FILE" />
    </root>

</configuration>