<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diligrp.message.mapper.MarketChannelMapper">
  <resultMap id="BaseResultMap" type="com.diligrp.message.domain.MarketChannel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="market_code" jdbcType="VARCHAR" property="marketCode" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, market_code, channel, signature, account_no, password, created, modified
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from message_market_channel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.diligrp.message.domain.MarketChannel">
    <!--
      WARNING - @mbg.generated
    -->
    update message_market_channel
    <set>
      <if test="marketCode != null">
        market_code = #{marketCode,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null">
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="listAll" parameterType="com.diligrp.message.domain.MarketChannel" resultType="com.diligrp.message.domain.vo.MarketChannelVo">
    select
    mc.*, group_concat( mc.channel ) as group_channel, group_concat( mc.signature ) as group_signature
    from message_market_channel mc
    where 1=1

    <if test="authMarkets != null and authMarkets.size()>0">
      and mc.market_code in
      <foreach collection="authMarkets" item="item" open="(" close=")" separator="," >
        #{item}
      </foreach>
    </if>
    group by mc.market_code
    order by ${sort} ${order}
  </select>

</mapper>