<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diligrp.message.mapper.SequenceNumberMapper">
    <resultMap id="SequenceNumberMap" type="com.diligrp.message.domain.SequenceNumber">
        <id property="id" column="id"/>
        <result property="date" column="date"/>
        <result property="type" column="type"/>
        <result property="number" column="number"/>
    </resultMap>


    <!-- templete 所有查询列 -->
    <sql id="QUERY_COLUMN_LIST">
        `id`,`date`,`type`,`number`
    </sql>

    <!-- 其它SQL语句 -->
    <!-- 获取序列号-->
    <parameterMap id="getSequenceParam" type="java.util.Map">
        <parameter property="type" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="length" mode="IN" jdbcType="INTEGER"/>
        <parameter property="format" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="result" mode="OUT" jdbcType="VARCHAR" javaType="String"/>
    </parameterMap>
    <select id="getSequence" parameterMap="getSequenceParam" statementType="CALLABLE">
        <![CDATA[
            {call get_sequence_number (?,?,?,?)}
         ]]>
    </select>

</mapper>