<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diligrp.message.mapper.TriggersTemplateMapper">
    <resultMap id="BaseResultMap" type="com.diligrp.message.domain.TriggersTemplate">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="trigger_code" jdbcType="VARCHAR" property="triggerCode"/>
        <result column="market_chanel_id" property="marketChanelId" />
        <result column="channel" jdbcType="VARCHAR" property="channel"/>
        <result column="template_name" jdbcType="VARCHAR" property="templateName"/>
        <result column="template_code" jdbcType="VARCHAR" property="templateCode"/>
        <result column="template_content" jdbcType="VARCHAR" property="templateContent"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="modified" jdbcType="TIMESTAMP" property="modified"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, trigger_code, market_chanel_id ,channel, template_name, template_code, template_content, created,
        modified
    </sql>
    <select id="selectByTriggerCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from message_triggers_template
        where trigger_code = #{triggerCode}
    </select>

</mapper>