<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diligrp.message.mapper.WhitelistMapper">
  <resultMap id="BaseResultMap" type="com.diligrp.message.domain.Whitelist">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="market_code" jdbcType="VARCHAR" property="marketCode" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="cellphone" jdbcType="VARCHAR" property="cellphone" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="source_id" property="sourceId" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, market_code, customer_name, cellphone, start_date, end_date, source, source_id, deleted,
    created, modified
  </sql>

  <!-- 查询某个手机号，在某市场的此时此刻，是否在白名单中 -->
  <select id="queryValidByMarketCode" resultType="integer" parameterType="com.diligrp.message.domain.Whitelist">
    <![CDATA[
        select COUNT(1) from message_whitelist mw where mw.start_date  <= NOW() and end_date >= NOW() and deleted =0 and mw.cellphone=#{cellphone} and mw.market_code=#{marketCode}
    ]]>
  </select>

</mapper>