 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="marketCode" id="marketCode" style="width:100%" labelAlign="right" data-options="label:'所属市场:', validType:'length[0,20]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="customerName" id="customerName" style="width:100%" labelAlign="right" data-options="label:'客户姓名:', validType:'length[0,20]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="cellphone" id="cellphone" style="width:100%" labelAlign="right" data-options="label:'客户手机号:', validType:'length[0,20]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-datetimebox" name="startDate" id="startDate" style="width:100%" labelAlign="right" data-options="label:'开始日期:'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-datetimebox" name="endDate" id="endDate" style="width:100%" labelAlign="right" data-options="label:'结束日期:'" />

                            </td>
                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="source" id="source" style="width:100%" labelAlign="right" data-options="label:'信息来源(系统、手动添加?具体参考枚举定义):', validType:'length[0,20]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="deleted" id="deleted" style="width:100%" labelAlign="right" data-options="label:'是否删除(1-是;0-否):', validType:'length[0,3]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-datetimebox" name="created" id="created" style="width:100%" labelAlign="right" data-options="label:'创建时间:'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-datetimebox" name="modified" id="modified" style="width:100%" labelAlign="right" data-options="label:'修改时间:'" />

                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="Whitelist列表" id="grid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="marketCode"
                   align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
                        <th data-options="field:'marketCode',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            所属市场
                        </th>
                        <th data-options="field:'customerName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            客户姓名
                        </th>
                        <th data-options="field:'cellphone',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            客户手机号
                        </th>
                        <th data-options="field:'startDate',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            开始日期
                        </th>
                        <th data-options="field:'endDate',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            结束日期
                        </th>
                        <th data-options="field:'source',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            信息来源(系统、手动添加?具体参考枚举定义)
                        </th>
                        <th data-options="field:'deleted',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否删除(1-是;0-否)
                        </th>
                        <th data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                        <th data-options="field:'modified',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            修改时间
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="Whitelist信息" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				iconCls: 'icon-save',
				height: 480,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="360px">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_marketCode" id="_marketCode" style="width:100%" data-options="label:'所属市场:', validType:'length[0,20]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_customerName" id="_customerName" style="width:100%" data-options="label:'客户姓名:', validType:'length[0,20]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_cellphone" id="_cellphone" style="width:100%" data-options="label:'客户手机号:', validType:'length[0,20]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_startDate" id="_startDate" style="width:100%" editable="false" data-options="label:'开始日期:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_endDate" id="_endDate" style="width:100%" editable="false" data-options="label:'结束日期:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_source" id="_source" style="width:100%" data-options="label:'信息来源(系统、手动添加?具体参考枚举定义):', validType:'length[0,20]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_deleted" id="_deleted" style="width:100%" data-options="label:'是否删除(1-是;0-否):', validType:'length[0,3]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_created" id="_created" style="width:100%" editable="false" data-options="label:'创建时间:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_modified" id="_modified" style="width:100%" editable="false" data-options="label:'修改时间:'" 
                        required="true" />
                </td>
            </tr>
        </table>
    </form>

    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //打开新增窗口
        function openInsert(){
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            formFocus("_form", "_marketCode");
        }

        //打开修改窗口
        function openUpdate(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                swal('警告','请选中一条数据', 'warning');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            formFocus("_form", "_marketCode");
            var formData = $.extend({},selected);
            formData = addKeyStartWith(getOriginalData(formData),"_");
            $('#_form').form('load', formData);
        }

        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/whitelist/insert.action";
            }else{//有id就修改
                _url = "${contextPath}/whitelist/update.action";
            }
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        swal('错误',data.result, 'error');
                    }
                },
                error: function(){
                    swal('错误', '远程访问失败', 'error');
                }
            });
        }

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                swal('警告','请选中一条数据', 'warning');
                return;
            }
