<#body>
<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center">
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left">
            <form id="form" class="easyui-form" method="post" fit="true">
                <table style="padding:10px;">
                    <tr>
                        <td style="padding:5px;">
                            <input name="marketCode" id="marketCode" style="width:100%" labelAlign="right" data-options="label:'市场:', validType:'length[0,20]'" />
                            <#comboProvider _id="marketCode" _provider='firmProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
                        </td>
                        <td style="padding:5px;">
                            <input name="source" id="source" style="width:100%" labelAlign="right" data-options="label:'来源:', validType:'length[0,20]'" />
                            <#comboProvider _id="source" _provider='messageSourceProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
                        </td>
                        <!--<td style="padding:5px;">-->
                            <!--<input class="easyui-datebox" name="startTime" editable="false" id="startTime"-->
                                   <!--labelAlign="right" data-options="label:' 有效时间:'" style="width: 250px;"/>-->
                            <!-- - <input class="easyui-datebox" editable="false" name="endTime" id="endTime"-->
                                     <!--labelAlign="right" style="width: 150px;"/>-->
                        <!--</td>-->
                        <td style="padding:5px;">
                            <input class="easyui-textbox" name="keywords" id="keywords" style="width:100%" data-options="prompt:'姓名/手机号码', validType:'length[0,20]'" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" style="width:100%;" height="auto">
        <!-- =========================================================表格========================================================= -->
        <table class="easyui-datagrid" title="Whitelist列表" id="grid" fitColumns="true" noheader="true"
               pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="false"
               loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="marketCode"
               align="center" fit="true" striped="true" idField="id" data-options="">
            <thead>
            <tr>
                <th width="10%" data-options="field:'marketCode', _provider:'firmProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    所属市场
                </th>
                <th width="15%" data-options="field:'customerName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    客户姓名
                </th>
                <th width="15%" data-options="field:'cellphone',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    手机号码
                </th>
                <th width="10%" data-options="field:'source',  _provider:'messageSourceProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    来源
                </th>
                <th data-options="field:'startDate', hidden:'true' ,  _provider:'dateProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    开始时间
                </th>
                <th data-options="field:'endDate', hidden:'true',  _provider:'dateProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    结束日期
                </th>
                <th width="50%" data-options="field:'validDate', _provider:'dateProvider',formatter: concatTime, sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    有效时间
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!-- 隐藏编辑框 -->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="添加客户" style="padding:20px" modal="true" border="thin" closed="true"
     data-options="
				iconCls: 'icon-save',
				height: 480,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="360px">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox"  name="_marketCode" id="_marketCode" style="width:100%" data-options="label:'所属市场:', validType:'length[0,20]'"
                           required="true" />
                    <#comboProvider _id="marketCode" _provider='firmProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_customerName" id="_customerName" style="width:100%" data-options="label:'客户姓名:', validType:'length[0,20]'"
                           required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_cellphone" id="_cellphone" style="width:100%" data-options="label:'手机号码:', validType:'length[0,20]'"
                           required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datebox" name="_startDate" id="_startDate" style="width:100%" editable="false" data-options="label:'开始日期:'"
                           required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datebox" name="_endDate" id="_endDate" style="width:100%" editable="false" data-options="label:'结束日期:'"
                           required="true" />
                </td>
            </tr>
        </table>
    </form>

</div>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script type="text/javascript">
    //组合时间
    function concatTime(value,row) {
        return row.startDate + " ~ " + row.endDate;
    }
    
    //打开新增窗口
    function openInsert(){
        $('#dlg').dialog('open');
        $('#dlg').dialog('center');
        $('#_form').form('clear');
        formFocus("_form", "_marketCode");
    }

    function saveOrUpdate(){
        if(!$('#_form').form("validate")){
            return;
        }
        var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
        var _url = null;
        //没有id就新增
        if(_formData.id == null || _formData.id==""){
            _url = "${contextPath}/whitelist/insert.action";
        }else{//有id就修改
            _url = "${contextPath}/whitelist/update.action";
        }
        $.ajax({
            type: "POST",
            url: _url,
            data: _formData,
            processData:true,
            dataType: "json",
            async : true,
            success: function (data) {
                if(data.code=="200"){
                    $("#grid").datagrid("reload");
                    $('#dlg').dialog('close');
                }else{
                    swal('错误',data.result, 'error');
                }
            },
            error: function(){
                swal('错误', '远程访问失败', 'error');
            }
        });
    }

    //根据主键删除
    function del() {
        var selected = $("#grid").datagrid("getSelected");
        if (null == selected) {
            swal('警告','请选中一条数据', 'warning');
            return;
        }
    <#swalConfirm swalTitle="您确认想要删除记录吗？">
            $.ajax({
                type: "POST",
                url: "${contextPath}/whitelist/delete.action",
                data: {id:selected.id},
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        swal('错误',data.result, 'error');
                    }
                },
                error: function(){
                    swal('错误', '远程访问失败', 'error');
                }
            });
    </#swalConfirm>
    }
    //表格查询
    function queryGrid() {
        var opts = $("#grid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/whitelist/listPage.action";
        }
        if(!$('#form').form("validate")){
            return;
        }
        $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
    }


    //清空表单
    function clearForm() {
        $('#form').form('clear');
    }

    //表格表头右键菜单
    function headerContextMenu(e, field){
        e.preventDefault();
        if (!cmenu){
            createColumnMenu("grid");
        }
        cmenu.menu('show', {
            left:e.pageX,
            top:e.pageY
        });
    }

    //全局按键事件
    function getKey(e){
        e = e || window.event;
        var keycode = e.which ? e.which : e.keyCode;
        if(keycode == 46){ //如果按下删除键
            var selected = $("#grid").datagrid("getSelected");
            if(selected && selected!= null){
                del();
            }
        }
    }

    /**
     * 绑定页面回车事件，以及初始化页面时的光标定位
     * @formId
     *          表单ID
     * @elementName
     *          光标定位在指点表单元素的name属性的值
     * @submitFun
     *          表单提交需执行的任务
     */
    $(function () {
        bindFormEvent("form", "marketCode", queryGrid);
        bindFormEvent("_form", "_marketCode", saveOrUpdate, function (){$('#dlg').dialog('close');});
        if (document.addEventListener) {
            document.addEventListener("keyup",getKey,false);
        } else if (document.attachEvent) {
            document.attachEvent("onkeyup",getKey);
        } else {
            document.onkeyup = getKey;
        }
        var pager = $('#grid').datagrid('getPager');    // get the pager of treegrid
        pager.pagination({
            <#controls_paginationOpts/>,
            buttons:[
            {
                iconCls:'icon-add',
                text:'新增',
                handler:function(){
                    openInsert();
                }
            },
            {
                iconCls:'icon-remove',
                text:'删除',
                handler:function(){
                    del();
                }
            }
        ]
    });
        //表格仅显示下边框
        $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
        queryGrid();
    })
</script>
</#body>