<#bs4Body>
<div class="container-fluid">
    <form id="whitelistQueryForm" role="form">
        <div class="row  row-cols-6">
            <div class="form-group col">
                <label for="">所属市场</label>
                <select class="form-control" id="marketCode" name="marketCode"></select>
                <#bcomboProvider _id="marketCode" _provider="marketProvider"  _valueField="value" _textField="text" _value="" _queryParams='{emptyText:"-- 全部 --"}' />
            </div>
            <div class="form-group col">
                <label for="source">来源</label>
                <select class="form-control" id="source" name="source"></select>
                <#bcomboProvider  _id="source" _provider="whitelistSourceProvider"  _queryParams='{emptyText:"-- 全部 --"}' _valueField="value" _textField="text" />
            </div>
            <div class="form-group col">
                <label for="status">状态</label>
                <select class="form-control" id="status" name="status"></select>
                <#bcomboProvider _id="status" _provider='blackWhitelistStatusProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
            </div>
            <div class="form-group col">
                <label for="">&nbsp;</label>
                <input type="" class="form-control" placeholder="姓名/手机号码" id="keywords" name="keywords" >
            </div>
            <div class="col align-self-center mt-3">
                <button type="button" class="btn btn-outline-primary mr-2" onclick="commonClearQueryForm('whitelistQueryForm')">
                    <i class="fa fa-refresh"></i> 清空
                </button>
                <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()">
                    <i class="fa fa-search"></i> 查询
                </button>
            </div>
        </div>
    </form>
    <hr>
    <div class="">
        <div class="row">
            <div class="col-12">
                <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                    <#resource code="addWhitelist">
                        <button id="btn_add" type="button" class="btn btn-primary" onclick="openInsertHandler()"><i
                                class="fa fa-plus"></i> 新增
                        </button>
                    </#resource>
                    <#resource code="deleteWhitelist">
                        <button id="btn_del" type="button" class="btn btn-primary" onclick="doDeleteHandler()"><i
                            class="fa fa-trash-o"></i> 删除
                        </button>
                    </#resource>
                </div>
                <table id="whitelistGrid" data-toggle="table" data-title="白名单列表" class="table" data-toolbar="#toolbar"
                       data-pagination="true" data-page-number="1" data-page-size="10" data-query-params="queryParams"
                       data-side-pagination="server" data-method="POST"
                       data-content-type="application/json; charset=utf-8" data-single-select="true"
                       data-click-to-select="true" data-checkbox-header="true" data-unique-id="id" data-sort-name="id"
                       data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary"
                       data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                    <thead>
                    <tr>
                        <th data-width-unit="%" data-width="2" data-radio="true"></th>
                        <th data-width-unit="%" data-width="10" data-field="marketCode" data-sortable="true" data-sort-name="market_code" data-align="center" data-provider="marketProvider">
                            所属市场
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="customerName" data-sortable="true" data-sort-name="convert(customer_name using gbk)" data-align="center" >
                            客户姓名
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="cellphone" data-sortable="true" data-sort-name="cellphone" data-align="center" >
                            手机号码
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="source" data-sortable="true" data-sort-name="source" data-align="center" data-provider="whitelistSourceProvider">
                            来源
                        </th>
                        <th data-width-unit="%" data-visible="false" data-width="10" data-field="startDateTime" data-sortable="false"  data-align="center" data-provider="dateProvider" >
                            开始时间
                        </th>
                        <th data-width-unit="%" data-visible="false" data-width="10" data-field="endDateTime" data-sortable="false"  data-align="center" data-provider="dateProvider" >
                            结束时间
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="validDate" data-sortable="false"  data-align="center" data-formatter="concatTime">
                            有效期
                        </th>
                        <th data-width-unit="%" data-width="20" data-field="status" data-align="center" data-sortable="true" data-sort-name="status" data-provider="blackWhitelistStatusProvider">
                            状态
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</#bs4Body>
<!-- 通用js -->
<script src="${contextPath}/resources/bui/js/base_list.js" type="text/javascript"></script>
<script>

    let _dataGrid = $('#whitelistGrid');
    let currentSelectRowIndex;
    var dia;

    /**
     时间范围
     */
    lay('.laydatetime').each(function () {
        laydate.render({
            elem: this
            , trigger: 'click'
            , type: 'datetime'
        });
    });

    $(function () {
        $(window).resize(function () {
            _dataGrid.bootstrapTable('resetView')
        });
        let size = ($(window).height() - $('#whitelistQueryForm').height() - 210) / 40;
        size = size > 10 ? size : 10;
        _dataGrid.bootstrapTable('refreshOptions', {url: '/whitelist/listPage.action', pageSize: parseInt(size)});

        _dataGrid.on('load-success.bs.table', function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });

    /**
     * 新增白名单客户
     */
    function openInsertHandler() {
        let url = "${contextPath}/whitelist/toAdd.action";
        $.modal.open("添加白名单", url, 700,600);
    }

    /**
     * 删除白名单数据
     */
    function doDeleteHandler() {
        //获取选中行的数据
        let rows = _dataGrid.bootstrapTable('getSelections');
        if (null == rows || rows.length == 0) {
            bs4pop.alert('请选中一条数据');
            return;
        }
        let selectedRow = rows[0];
        bs4pop.confirm("您确认想要删除记录吗？", undefined, function (sure) {
            if(sure){
                bui.loading.show('努力提交中，请稍候。。。');
                $.ajax({
                    type: "POST",
                    url: "${contextPath}/whitelist/delete.action",
                    data: {id: selectedRow.id},
                    processData:true,
                    dataType: "json",
                    async : true,
                    success : function(ret) {
                        bui.loading.hide();
                        if(ret.success){
                            queryDataHandler();
                        }else{
                            bs4pop.alert(ret.result, {type: 'error'});
                        }
                    },
                    error : function() {
                        bui.loading.hide();
                        bs4pop.alert('远程访问失败', {type: 'error'});
                    }
                });
            }
        });
    }

    /**
     * 查看详情
     */
    function openViewHandler() {
        //获取选中行的数据
        let rows = _dataGrid.bootstrapTable('getSelections');
        if (null == rows || rows.length == 0) {
            bs4pop.alert('请选中一条数据');
            return;
        }
        //table选择模式是单选时可用
        let selectedRow = rows[0];
        $.modal.open("发送记录详情", "/sendLog/view.action?id=" + selectedRow.id);
    }

    /**
     * table参数组装
     * 可修改queryParams向服务器发送其余的参数
     * @param params
     */
    function queryParams(params) {
        let temp = {
            rows: params.limit,   //页面大小
            page: ((params.offset / params.limit) + 1) || 1, //页码
            sort: params.sort,
            order: params.order
        };
        return JSON.stringify($.extend(temp, bui.util.bindGridMeta2Form('whitelistGrid', 'whitelistQueryForm')));
    }

    /**
     * 查询处理
     */
    function queryDataHandler() {
        currentSelectRowIndex = undefined;
        $('#toolbar button').attr('disabled', false);
        _dataGrid.bootstrapTable('refreshOptions', {pageNumber: 1});
    }


    /**
     * 组合时间
     * @param value
     * @param row
     * @param index
     * @returns {string}
     */
    function concatTime(value,row,index) {
        return row.startDateTime + " ~ " + row.endDateTime;
    }

</script>