 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center" border="false">
            <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
                <#nav/>
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left" border="false">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <div class="search-wrap">
                        <div class="search-item">
                            <input name="marketCode" id="marketCode" style="width:100%" labelAlign="right" panelWidth="auto" panelHeight="auto" editable="false" data-options="label:'市场:'" />
                            <#comboProvider _id="marketCode" _provider='firmProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
                        </div>
                        <div class="search-item">
                            <input name="systemCode" id="systemCode" style="width:100%" labelAlign="right" panelWidth="auto" panelHeight="auto" editable="false" data-options="label:'所属系统:'" />
                            <#comboProvider _id="systemCode" _provider='dataDictionaryValueProvider' _queryParams='{dd_code:"system_code",emptyText:"-- 全部 --"}'/>
                        </div>
                        <div class="search-item">
                            <input name="sceneCode" id="sceneCode" style="width:100%" labelAlign="right" panelWidth="auto" panelHeight="auto" editable="false" data-options="label:'业务场景:'" />
                            <#comboProvider _id="sceneCode" _provider='dataDictionaryValueProvider' _queryParams='{dd_code:"message_scene",emptyText:"-- 全部 --"}'/>
                        </div>
                        <div class="search-item">
                            <input name="sendChannel" id="sendChannel" style="width:100%" labelAlign="right" panelWidth="auto" panelHeight="auto" editable="false" data-options="label:'通道:'" />
                            <#comboProvider _id="sendChannel" _provider='marketChannelProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
                        </div>
                        <div class="search-item">
                            <input name="sendState" id="sendState" style="width:100%" labelAlign="right" panelWidth="auto" panelHeight="auto" editable="false" data-options="label:'发送状态:'" />
                            <#comboProvider _id="sendState" _provider='sendStateProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
                        </div>
                        <div class="search-item long-item">
                            <input class="easyui-datetimebox" name="startSendTime" editable="false" id="startSendTime"
                                   labelAlign="right" data-options="label:' 发送时间:'" style="width: 58%"/>
                            <span style="width: 2%;">-</span>
                            <input class="easyui-datetimebox" editable="false" name="endSendTime" id="endSendTime"
                                     labelAlign="right" style="width: 39%"/>
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="cellphone" id="cellphone" style="width:100%" labelAlign="right" data-options="label:'电话号码:'" />
                        </div>
                        <div class="search-wrap-btn">
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto" border="false">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="SendLog列表" id="grid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="true"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="id" sortOrder="desc"
                   align="center" fit="true" striped="true" idField="id">
                <thead>
                    <tr>
                        <th width="5%" data-options="field:'marketCode', _provider:'firmProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            市场
                        </th>
                        <th width="10%" data-options="field:'systemCode', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'system_code'},   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            所属系统
                        </th>
                        <th width="10%" data-options="field:'sceneCode', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'message_scene'},  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            业务场景
                        </th>
                        <th width="10%" data-options="field:'cellphone',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            电话号码
                        </th>
                        <th width="5%" data-options="field:'sendChannel', _provider:'marketChannelProvider',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            通道
                        </th>
                        <th width="40%" data-options="field:'content',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            消息内容
                        </th>
                        <th width="10%" data-options="field:'sendState', _provider:'sendStateProvider',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            发送状态
                        </th>
                        <th width="10%" data-options="field:'sendTime',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            发送时间
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- 隐藏编辑框 -->

    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/sendLog/listPage.action";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }


        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        function initialStartTime(){
            var now = new Date()
            now.setHours(0)
            now.setMinutes(0)
            now.setSeconds(0)
            $('#startSendTime').datetimebox('setValue', convertTime(now));
        }

        function convertTime(dateTime) {
            let date = dateTime.toLocaleDateString()
            let time = dateTime.toTimeString().slice(0,8);
            return date + ' ' + time ;
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "marketCode", queryGrid);
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
            //表格仅显示下边框
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            initialStartTime();
            queryGrid();
        })
    </script>
</#body>