 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="marketCode" id="marketCode" style="width:100%" data-options="label:'市场:', validType:'length[0,20]'" />
                                <#comboProvider _id="marketCode" _provider='firmProvider' _queryParams='{emptyText:"-- 全部 --"}'/>

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="systemCode" id="systemCode" style="width:100%" data-options="label:'所属系统:', validType:'length[0,20]'" />
                                <#comboProvider _id="systemCode" _provider='firmProvider' _queryParams='{emptyText:"-- 全部 --"}'/>

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="sceneCode" id="sceneCode" style="width:100%" data-options="label:'业务场景:', validType:'length[0,50]'" />
                                <#comboProvider _id="sceneCode" _provider='dataDictionaryValueProvider' _queryParams='{dd_code:"message_scene",emptyText:"-- 全部 --"}'/>

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="sendChannel" id="sendChannel" style="width:100%" data-options="label:'通道:', validType:'length[0,20]'" />
                                <#comboProvider _id="sendChannel" _provider='marketChannelProvider' _queryParams='{emptyText:"-- 全部 --"}'/>

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="sendState" id="sendState" style="width:100%" data-options="label:'发送状态:', validType:'length[0,20]'" />
                                <#comboProvider _id="sendState" _provider='sendStateProvider' _queryParams='{emptyText:"-- 全部 --"}'/>

                            </td>

                            <td style="padding:5px;">
                                <input class="easyui-datetimebox" name="startSendTime" editable="false" id="startSendTime"
                                       labelAlign="right" data-options="label:' 发送时间:'" style="width: 250px;"/>
                                - <input class="easyui-datetimebox" editable="false" name="endSendTime" id="endSendTime"
                                         labelAlign="right" style="width: 150px;"/>
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="cellphone" id="cellphone" style="width:100%" data-options="label:'电话号码:', validType:'length[0,20]'" />

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="发送记录列表" id="grid" fitColumns="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="requestCode"
                   align="center" fit="true" striped="true" toolbar="#toolbar" idField="id">
                <thead>
                    <tr>
                        <th width="5%" data-options="field:'marketCode', _provider:'firmProvider',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            市场
                        </th>
                        <th width="10%" data-options="field:'systemCode', _provider:'firmProvider',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            所属系统
                        </th>
                        <th width="10%" data-options="field:'sceneCode', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'message_scene'},   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            业务场景
                        </th>
                        <th width="10%" data-options="field:'cellphone',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            电话号码
                        </th>
                        <th width="5%" data-options="field:'sendChannel', _provider:'marketChannelProvider',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            通道
                        </th>
                        <th width="40%" data-options="field:'content',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            消息内容
                        </th>
                        <th width="10%" data-options="field:'sendState', _provider:'sendStateProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            发送状态
                        </th>
                        <th width="10%" data-options="field:'sendTime',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            发送时间
                        </th>
                    </tr>
                </thead>
            </table>
            <!-- datagrid工具栏 -->
        </div>
    </div>

    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/sendLog/listPage.action";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }

        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }
    </script>
</#body>